#!/bin/bash
set -eu
set -o pipefail

# AcroMedia AWS EC2 bootstrapper template for Ubuntu 18 instances
# User data scripts are executed as root. No need for sudo.
# See https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html

function main () {
  logfile=/tmp/udf-init.stdout
  errfile=/tmp/udf-init.stderr
  {
    export DEBIAN_FRONTEND=noninteractive
    apt-get -yqq update
    apt-get -yqq upgrade
    apt-get -yqq install curl awscli git make

    # Gather some useful information,
    PRIVATE_IP=$(ip -o route get to 8.8.8.8 | sed -n 's/.*src \([0-9.]\+\).*/\1/p') || true
    INSTANCE_ID=$(curl -sS http://169.254.169.254/latest/meta-data/instance-id)
    SSH_FINGERPRINT=$(ssh-keygen -lf /etc/ssh/ssh_host_ecdsa_key.pub | awk '{print $2}')

    mkdir -p /root/git/acro
    cd /root/git/acro
    git clone "https://github.com/AcroMedia/ansible-role-devops-utils"
    cd ansible-role-devops-utils/scripts/deployables

    # Let all in the "sudo" group run passwordless sudo
    ./passwordless-sudo.sh sudo

    # Add real users
{% for adm in ec2_sysadmins_from_github %}
    GITHUB_USER={{ adm.github_account }} ./acro-add-user.sh  --from-github --with-sudo {{ adm.local_user }}
{% endfor %}
{% if ec2_sysadmins_from_gitlab_server_url != '' %}
{% for adm in ec2_sysadmins_from_gitlab %}
    GITLAB_SERVER_URL='{{ ec2_sysadmins_from_gitlab_server_url }}' ./acro-add-user.sh --from-gitlab --with-sudo {{ adm }}
{% endfor %}
{% endif %}

    # Set internal hostname
    ./set_fqdn.sh "{{ ec2_instance_hostname_base }}-${INSTANCE_ID}.{{ route53_hosted_domain }}" --replace

    # Install the ones we just used, and the rest of the utils.
    make -s install

    # Remove default generic user we don't need them any more.
    userdel --remove ubuntu

{% if '-app' in ec2_instance_fqdn %}
    # App nodes get NGINX installed off the bat, so they can be "healthy" by default when the get attached to the load balancer
    apt-add-repository --yes --update ppa:nginx/stable
    apt-get -yqq install nginx
{% endif %}


{% if (ec2_post_provision_phone_home_command | trim) != '' %}
    {{ ec2_post_provision_phone_home_command }}
{% endif %}

  } 1> "$logfile" 2> "$errfile"

}

main "$@"
